.footer {
  background: $light-green;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: flex;
  align-items: end;
}

.footer-links a {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  color: white;
  padding: 0px 36px;
}

.footer-links a:hover {
  opacity: 0.5;
}

.footer-links img {
  width: 46px
}

.footer-icone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
